<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    @Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js")
    @Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .card-deck{
            margin-top:15px;
            margin-bottom:15px;
        }


            .imageWrapper {
                position: relative;
                width: 10%;
                padding-top: 10%;
                overflow: hidden;
                float: left;
            }

            .imagePosition {
                position: absolute;
                top: -50%;
                left: -50%;
                width: 200%;
                height: 200%;
            }

            .imagePosition img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            }

            .imagePosition img.landscape {
                max-height: 50%;
                height: 50%;
            }

            .galleryArea .imagePosition img.portrait {
                max-width: 50%;
                width: 50%;
            }

            .galleryArea .imagePosition img.square {
                max-width: 50%;
                max-height: 50%;
            }
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Sean Rice", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="nav-link">
                @Html.ActionLink("Home", "Index", "Home")
            </div>
            <div class="nav-link">
                @Html.ActionLink("About", "About", "Home")
            </div>
            <div class="nav-link">
                @Html.ActionLink("Projects", "Projects", "Home")
            </div>
            <div class="nav-link">
                @Html.ActionLink("Contact", "Contact", "Home")
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
