<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    @Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js")
    @Styles.Render("https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .card-deck{
            margin-top:15px;
            margin-bottom:15px;
        }
        @@media only screen and (max-width: 768px) {
            [class*="col-"] {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Sean Rice</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="@Url.Action("About", "Home")">About<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="@Url.Action("Index", "Projects")">Projects</a>
                <a class="nav-item nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
            </div>
        </div>
    </nav>

    <div class="container col-8">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sean Rice</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
